<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit option group</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="fragments/general_fragments.html :: errorModalScript"></div>
</head>

<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1 class="mb-3">Edit option group</h1>
    <div id="optionGroupID" th:text="'Selected group ' + ${groupView.groupName}" class="mb-3"></div>

    <form action="#" th:action="@{${pathDeleteUpdate}(id=${groupView.id})}" th:object="${groupDTO}"
          th:method="patch">
        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="fragments/general_fragments.html :: errorModalFragment"></div>
            </div>
        </div>

        <div class="form-outline mb-4">
            <input type="text" th:field="*{groupName}" id="groupName" class="form-control"
                   value="${groupView.groupName}">
            <label for="groupName" class="form-label">Group name</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}">
        </div>

        <div class="form-outline mb-4">
            <textarea id="description" th:field="*{description}" rows="4" class="form-control"
                      value="${groupView.description}"></textarea>
            <label class="form-label" for="description">Description</label>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

        </div>

        <div class="form-outline mb-4">
            <input type="text" th:field="*{iconURI}" id="iconURI" class="form-control" value="${groupView.iconURI}">
            <label for="iconURI" class="form-label">Group icon url</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('iconURI')}" th:errors="*{iconURI}">
        </div>

        <div>
            <select class="form-control" th:field="*{groupTypeIndex}" id="groupTypeIndex"
                    value="${groupView.groupType.name}">
                <option value="">Select type</option>
                <option th:each="type : ${groupTypes}" th:value="${type.typeIndex}" th:text="${type.name}"></option>
            </select>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('groupTypeIndex')}" th:errors="*{groupTypeIndex}">
        </div>
        <div class="form-outline mb-4">
            <input type="submit" value="Update Group">
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}} role="button">Cancel</a>


    </form>
    <div th:replace="fragments/general_fragments.html :: formOutlineBorderScript"></div>
</div>
</body>
</html>