<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New options in group</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1>Edit option group</h1>
    <div id="optionGroupName" th:text="'Selected group ' + ${groupView.groupName}"></div>
    <div id="optionGroupType" th:text="'Selected group ' + ${groupView.groupType.name}"></div>
    <div id="optionGroupDescr" th:text="'Selected group ' + ${groupView.description}"></div>


    <form action="#" th:action="@{${pathEditOptions}(id=${groupView.id})}" th:object="${optionListDTO}"
          th:method="patch">

        <div class="form-outline mb-4">
            <ul>
                <li th:each="option : ${allOptions}">
                    <div class="form-check">
                        <input type="checkbox" th:field="*{optionIDs}" th:value="${option.id}"
                               class="form-check-input"/>
                        <label th:for="${#ids.prev('optionIDs')}" th:text="${option.name}"
                               class="form-check-label"></label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="form-outline mb-4">
            <input type="submit" value="Update options in group">
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}} role="button">Cancel</a>

    </form>
</div>
</body>
</html>