<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Option groups</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<h1 class="mb-3">Option groups page</h1>
<div th:if="${groups==null or groups.empty}">
    <h2 class="mb-3">No option groups yet!</h2>
</div>
<div th:if="${groups!=null and !groups.empty}">
    <h2 class="mb-3">Option groups</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Icon</th>
            <th>Type</th>
            <th>Options</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Edit option list</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.id}"></td>
            <td th:text="${group.groupName}"></td>
            <td th:text="${group.description}"></td>
            <td th:text="${group.iconURI}"></td>
            <td th:text="${group.groupType.name}"></td>
            <td th:text="${group.options}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{${pathEdit}(id=${group.id})}">Edit</a>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{${pathEditOptions}(id=${group.id})}">Edit options</a>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <form action="#" th:action="@{${pathDeleteUpdate}(id=${group.id})}" th:method="delete"
                      th:id="${group.id}">
                    <a href="javascript:{}"
                       th:onclick="|document.getElementById('${group.id}').submit(); return false;|">Delete</a>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <p sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{${pathNew}}">Add new option group</a></p>
</div>
</body>
</html>