<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update tariff</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="fragments/general_fragments.html :: errorModalScript"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1 class="mb-3">Update tariff</h1>
    <form action="#" th:action="@{${pathDeleteUpdate}(id=${tariff.tariffId})}" th:object="${tariffDTO}"
          th:method="patch">
        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="fragments/general_fragments.html :: errorModalFragment"></div>
            </div>
        </div>

        <div class="form-outline mb-4">
            <input type="text" th:field="*{tariffName}" id="tariffName" class="form-control"
                   value="${tariff.tariffName}">
            <label for="tariffName" class="form-label">Tariff name</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('tariffName')}" th:errors="*{tariffName}">
        </div>

        <div class="form-outline mb-4">
            <input type="text" th:field="*{monthlyPrice}" id="monthlyPrice" class="form-control"
                   value="${tariff.monthlyPrice}">
            <label for="monthlyPrice" class="form-label">Monthly price</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('monthlyPrice')}" th:errors="*{monthlyPrice}">
        </div>

        <div class="form-outline mb-4">
            <input type="text" th:field="*{dataVolume}" id="dataVolume" class="form-control"
                   value="${tariff.dataVolume}">
            <label for="dataVolume" class="form-label">Data volume</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('dataVolume')}" th:errors="*{dataVolume}">
        </div>

        <div class="form-outline mb-4">
            <textarea id="tariffDescription" th:field="*{tariffDescription}" rows="4" class="form-control"
                      value="${tariff.tariffDescription}"></textarea>
            <label class="form-label" for="tariffDescription">Description</label>
            <span th:if="${#fields.hasErrors('tariffDescription')}" th:errors="*{tariffDescription}"></span>
        </div>


        <div class="form-outline mb-4">
            <input class="btn btn-primary" type="submit" value="Update Tariff"/>
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}} role="button">Cancel</a>

    </form>
    <div th:replace="fragments/general_fragments.html :: formOutlineBorderScript"></div>
</div>
</body>
</html>