<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Options compatible to tariff</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="fragments/general_fragments.html :: errorModalScript"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1 class="mb-3">Edit list of compatible options</h1>
    <div id="tariffName" th:text="'Selected tariff ' + ${tariffOptionsView.tariffName}"></div>

    <form action="#" th:action="@{${pathEditOptions}(id=${tariffOptionsView.tariffId})}" th:object="${optionListDTO}"
          th:method="patch">
        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="fragments/general_fragments.html :: errorModalFragment"></div>
            </div>
        </div>

        <div class="list-group">
            <ul>
                <li th:each="option : ${allOptions}">
                    <input type="checkbox" th:field="*{optionIDs}" th:value="${option.id}"/>
                    <label th:for="${#ids.prev('optionIDs')}"
                           th:text="${option.name}"></label>
                </li>
            </ul>
        </div>


        <div class="form-outline mb-4">
            <input class="btn btn-primary" type="submit" value="Update compatible options"/>
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}} role="button">Cancel</a>

    </form>
    <div th:replace="fragments/general_fragments.html :: formOutlineBorderScript"></div>
</div>
</body>
</html>