<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tariffs</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<h1 class="mb-3">Tariffs page</h1>

<div th:if="${tariffs.empty}">
    <h2>No tariffs yet!</h2>
</div>
<div th:if="${!tariffs.empty}">
    <h2 class="mb-3">Tariffs</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Monthly price</th>
            <th>Data Volume</th>
            <th>Description</th>
            <th>Compatible options</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Edit options</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tariff : ${tariffs}">
            <td th:text="${tariff.tariffName}"></td>
            <td th:text="${tariff.monthlyPrice}"></td>
            <td th:text="${tariff.dataVolume}"></td>
            <td th:text="${tariff.tariffDescription}"></td>
            <td th:text="${tariff.compatibleOptionsNames}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a
                    th:href="@{${pathEdit}(id=${tariff.tariffId})}">Edit</a></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a
                    th:href="@{${pathEditOptions}(id=${tariff.tariffId})}">Edit options</a>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <form action="#" th:action="@{${pathDeleteUpdate}(id=${tariff.tariffId})}" th:method="delete"
                      th:id="${tariff.tariffId}">
                    <a href="javascript:{}"
                       th:onclick="|document.getElementById('${tariff.tariffId}').submit(); return false;|">Delete</a>
                </form>
            </td>
        </tr>

        </tbody>
    </table>


</div>
<p sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{${pathNew}}">Add new tariff</a>
</p>


</body>
</html>