<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>eCare admin</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<h1>Wilkommen!</h1>
<p>It's the start page</p>
<ul>
    <li>
        <a th:href="${tariffsPage}">Tariffs</a>
    </li>
    <li>
        <a th:href="${devicesPage}">Devices</a>
    </li>
    <li>
        <a th:href="${offersPage}">Offers</a>
    </li>
    <li>
        <a th:href="${optionGroupsPage}">Option groups</a>
    </li>
    <li>
        <a th:href="${optionsPage}">Options</a>
    </li>
    <li>
        <a th:href="${deviceImagesPage}">Options</a>
    </li>
</ul>

</body>
</html>