<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Devices</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<h1 class="mb-3">Devices page</h1>
<div th:if="${devices.empty}">
    <h2>No devices yet!</h2>
</div>
<div th:if="${!devices.empty}">
    <h2 class="mb-3">Devices</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Solo price</th>

            <th>Description</th>
            <th>IMAGE_URI</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="device : ${devices}">
            <td th:text="${device.brand}"></td>
            <td th:text="${device.model}"></td>
            <td th:text="${device.soloPrice}"></td>

            <td th:text="${device.description}"></td>
            <td th:text="${device.imageURL}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{${pathEdit}(id=${device.deviceId})}">Edit</a>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <form action="#" th:action="@{${pathDeleteUpdate}(id=${device.deviceId})}" th:method="delete"
                      th:id="${device.deviceId}">
                    <a href="javascript:{}"
                       th:onclick="|document.getElementById('${device.deviceId}').submit(); return false;|">Delete</a>
                </form>
            </td>
        </tr>

        </tbody>
    </table>


</div>
<p sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{${pathNew}}">Add new device</a></p>

</body>
</html>