<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update device</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="fragments/general_fragments.html :: errorModalScript"></div>

</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1>Update device</h1>
    <form action="#" th:action="@{${pathDeleteUpdate}(id=${deviceView.deviceId})}" th:object="${deviceDTO}"
          th:method="patch">
        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="fragments/general_fragments.html :: errorModalFragment"></div>
            </div>
        </div>
        <div class="form-outline mb-4">
            <input type="text" th:field="*{brand}" id="deviceBrand" value="${deviceView.brand}" class="form-control">
            <label for="deviceBrand" class="form-label">Device brand</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">
        </div>

        <div class="form-outline mb-4">
            <input type="text" th:field="*{model}" id="deviceModel" value="${deviceView.model}" class="form-control">
            <label for="deviceModel" class="form-label">Device model</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">
        </div>

        <div class="form-outline mb-4">
            <input type="text" th:field="*{soloPrice}" id="soloPrice" value="${deviceView.soloPrice}"
                   class="form-control">
            <label for="soloPrice" class="form-label">Solo price</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('soloPrice')}" th:errors="*{soloPrice}">
        </div>

        <div class="form-outline mb-4">
            <textarea th:field="*{description}" id="deviceDescription"
                      value="${deviceView.description}" class="form-control" rows="4"></textarea>
            <label for="deviceDescription" class="form-label">Description</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
        </div>

        <div>
            <label for="dropImage" class="form-label">Device pic</label>
            <select th:field="*{imageID}" id="dropImage" value="${deviceView.imageFileName}" class="form-control">
                <option value="">select image</option>
                <option th:each="img : ${images}" th:value="${img.imageId}" th:text="${img.fileName}"></option>
            </select>

        </div>

        <div class="form-outline mb-4">
            <input class="btn btn-primary" type="submit" value="Update Device"/>
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}} role="button">Cancel</a>
    </form>
    <div th:replace="fragments/general_fragments.html :: formOutlineBorderScript"></div>
</div>
</body>
</html>