<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New device</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="fragments/general_fragments.html :: errorModalScript"></div>
</head>
<body>

<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1 class="mb-3">Create new device</h1>

    <form action="#" th:action="@{${controllerPath}}" th:object="${deviceDTO}" method="post">
        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="fragments/general_fragments.html :: errorModalFragment"></div>
            </div>
        </div>


        <div class="form-outline mb-4">
            <input type="text" th:field="*{brand}" id="deviceBrand" class="form-control">
            <label for="deviceBrand" class="form-label">Device brand</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">
        </div>

        <div class="form-outline mb-4">
            <input type="text" th:field="*{model}" id="deviceModel" class="form-control">
            <label for="deviceModel" class="form-label">Device model</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">
        </div>

        <div class="form-outline mb-4">
            <input type="text" th:field="*{soloPrice}" id="soloPrice" class="form-control">
            <label for="soloPrice" class="form-label">Solo price</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('soloPrice')}" th:errors="*{soloPrice}">
        </div>

        <div class="form-outline mb-4">
            <textarea id="description" th:field="*{description}" rows="4" class="form-control"></textarea>
            <label class="form-label" for="description">Description</label>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>


        <div class="row">
            <div class="form-outline">
                <label for="dropImage">Device pic</label>
                <select th:field="*{imageID}" id="dropImage">
                    <option selected value="">Select image</option>
                    <option th:each="img : ${images}" th:value="${img.imageId}" th:text="${img.fileName}"></option>
                </select>
            </div>
        </div>


        <div class="form-outline">
            <input class="btn btn-primary" type="submit" value="Add Device"/>
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}} role="button">Cancel</a>
    </form>
    <div th:replace="fragments/general_fragments.html :: formOutlineBorderScript"></div>
</div>
</body>
</html>