<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
</head>
<body>
<th:block th:fragment="headLinks">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet"/>
    <!-- <link href="./css/my.css" rel="stylesheet" /> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</th:block>

<div th:fragment="stickyHeader">
    <nav class='navbar navbar-expand-lg navbar-light bg-light fixed-top' )>
        <div class='container-fluid'>
            <button class='navbar-toggler' type='button' data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class='fas fa-bars'></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/bcc/start">Start page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bcc/admin/devices/">Devices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bcc/admin/tariffs/">Tariffs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bcc/admin/offers/">Offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bcc/admin/options/">Options</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bcc/admin/option_groups/">Option groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bcc/admin/device_images/">Device images</a>
                    </li>
                </ul>

            </div>
            <div class="d-flex align-items-center">
                <li class="nav-item dropdown" style="list-style-type: none;">
                    <a class="nav-link dropdown-toggle hidden-arrow"
                       href="#"
                       id="navbarDropdownMenuLink"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-cat"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-item">
                            Logged in as: <b><span sec:authentication="name"></span></b>
                        </li>
                        <li class="dropdown-item">
                            Role: <b><span sec:authentication="principal.authorities"></span></b>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </nav>
</div>

<div class="modal show" tabindex="-1" id="errorModal2" th:fragment="errorModalFragment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p th:text="${errorEntity} + ' cannot be saved'"></p>
                <div th:text="'Reason: ' + ${errorMessage}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Got it</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:fragment="errorModalScript">
    $(window).on('load', function() {
        $('#errorModal2').modal('show');
    });

</script>

<script type="text/javascript" th:fragment="formOutlineBorderScript">
        document.querySelectorAll('.form-outline').forEach((formOutline) => {
            new mdb.Input(formOutline).init();
        });
</script>

<div id="user_info" th:fragment="userInfo">
    Logged in as: <b><span sec:authentication="name"></span></b>
    Role: <b><span sec:authentication="principal.authorities"></span></b>
</div>

<p>Go to the next page to see fragments in action</p>
<aside>
    <div>This is a sidebar</div>
</aside>
<div class="another">This is another sidebar</div>
<footer th:fragment="footer">
    <a th:href="@{/fragments}">Fragments Index</a> |
    <a th:href="@{/markup}">Markup inclussion</a> |
    <a th:href="@{/params}">Fragment params</a> |
    <a th:href="@{/other}">Other</a>
</footer>
</body>
</html>