<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Device images</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<h1>Devices page</h1>
<div th:switch="${allDeviceImages}">
    <h2 th:case="null">No images yet!</h2>
    <div th:case="*">
        <h2>Uploaded device images</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="deviceImage : ${allDeviceImages}">
                <td th:text="${deviceImage.fileName}"></td>
                <td th:text="${deviceImage.imageURL}"></td>

                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <!--a th:href="@{/admin/device_images/delete/{name}(name=${deviceImage.fileName})}">Delete</a-->
                    <form action="#" th:action="@{${pathDeleteUpdate}(name=${deviceImage.fileName})}" th:method="delete"
                          th:id="${deviceImage.imageId}">
                        <a href="javascript:{}"
                           th:onclick="|document.getElementById('${deviceImage.imageId}').submit(); return false;|">Delete</a>
                    </form>
                </td>
            </tr>

            </tbody>
        </table>


    </div>
    <p sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{${pathNew}}">Add new image</a></p>

</div>
</body>
</html>