<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New device</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<h1>Upload new file</h1>
<form action="#" th:action="@{${controllerPath}}" enctype="multipart/form-data" method="post">
    <div>
        <div>
            <input type="file" name="files"></div>
        <button class="button button4" type="submit">
            Upload
        </button>
    </div>
</form>
<div th:switch="${errorMsg}">
    <div th:case="null">
    </div>
    <div th:case="*">
        <div th:text="'Error ' + ${errorMsg}"></div>
    </div>
</div>

</body>
</html>