<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit option</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="fragments/general_fragments.html :: errorModalScript"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1 class="mb-3">Edit option</h1>
    <div id="optionID" th:text="'Selected option ' + ${optionView.name}"></div>


    <form action="#" th:action="@{${pathDeleteUpdate}(id=${optionView.id})}" th:object="${optionDTO}"
          th:method="patch">

        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="fragments/general_fragments.html :: errorModalFragment"></div>
            </div>
        </div>

        <div class="form-outline mb-4">
            <input type="text" th:field="*{name}" id="name" class="form-control" value="${optionView.name}">
            <label for="name" class="form-label">Option name</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
        </div>

        <div class="form-outline mb-4">
            <textarea id="description" th:field="*{description}" rows="4" class="form-control"
                      value="${optionView.description}"></textarea>
            <label class="form-label" for="description">Description</label>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <div class="form-outline mb-4">
            <input type="text" th:field="*{iconURI}" id="iconURI" class="form-control" value="${optionView.iconURI}">
            <label for="iconURI" class="form-label">Icon uri</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('iconURI')}" th:errors="*{iconURI}">
        </div>

         <div class="form-outline mb-4">
            <input type="text" th:field="*{price}" id="price" class="form-control" value="${optionView.price}">
            <label for="price" class="form-label">Price</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
        </div>

        <div>
            <label for="dropGroup">Option group</label>
            <select class="form-control" th:field="*{groupID}" id="dropGroup" value="${optionView.groupName}">
                <option value="-1">Select type</option>
                <option th:each="group : ${allGroups}" th:value="${group.id}" th:text="${group.groupName}"></option>
            </select>
        </div>

        <div class="form-outline mb-4">
            <input class="btn btn-primary" type="submit" value="Update Option"/>
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}} role="button">Cancel</a>
    </form>
    <div th:replace="fragments/general_fragments.html :: formOutlineBorderScript"></div>
</div>
</body>
</html>