<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Options</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1 class="mb-3">Options page</h1>
    <div th:switch="${options}">
        <div th:if="${options.empty}">
            <h2>No options yet!</h2>
        </div>
        <div th:if="${!options.empty}">
            <h2 class="mb-3">Options</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Icon</th>
                    <th>Price</th>
                    <th>Option group</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="option : ${options}">
                    <td th:text="${option.id}"></td>
                    <td th:text="${option.name}"></td>
                    <td th:text="${option.description}"></td>
                    <td th:text="${option.iconURI}"></td>
                    <td th:text="${option.price}"></td>
                    <td th:text="${option.groupName}"></td>

                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{${pathEdit}(id=${option.id})}">Edit</a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <form action="#" th:action="@{${pathDeleteUpdate}(id=${option.id})}" th:method="delete"
                              th:id="${option.id}">
                            <a href="javascript:{}"
                               th:onclick="|document.getElementById('${option.id}').submit(); return false;|">Delete</a>
                        </form>
                    </td>
                </tr>

                </tbody>
            </table>


        </div>
        <p sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{${pathNew}}">Add new option</a></p>

    </div>
</div>
</body>
</html>