<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit offer</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="fragments/general_fragments.html :: errorModalScript"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1>Edit offer</h1>
    <div id="offerIdField" th:text="'Selected offer ' + ${offerView.offerId}"></div>

    <form action="#" th:action="@{${pathDeleteUpdate}(id=${offerView.offerId})}" th:object="${offerDTO}"
          th:method="patch">
        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="fragments/general_fragments.html :: errorModalFragment"></div>
            </div>
        </div>

        <div th:text="'Current tariff: ' + ${offerView.tariffName}"></div>
        <div>


            <select class="form-control" th:field="*{tariffId}" id="dropTariff">
                <option value="" selected disabled hidden>Select tariff</option>
                <option th:each="tariff : ${allTariffs}" th:value="${tariff.tariffId}"
                        th:text="${tariff.tariffName}"></option>
            </select>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('tariffId')}" th:errors="*{tariffId}">
        </div>

        <div th:text="'Current device: ' + ${offerView.deviceBrand} + ' ' + ${offerView.deviceModel}"></div>
        <div>
            <select class="form-control" th:field="*{deviceId}" id="dropDevice">
                <option value="" selected disabled hidden>Select device</option>
                <option th:each="device : ${allDevices}" th:value="${device.deviceId}"
                        th:text="${device.brand} + ' ' + ${device.model}"></option>
            </select>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('deviceId')}" th:errors="*{deviceId}">
        </div>
        <div class="form-outline mb-4">

            <input type="text" th:field="*{devicePrice}" id="devicePrice" class="form-control">
            <label for="devicePrice" class="form-label">Device price</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('devicePrice')}" th:errors="*{devicePrice}">
        </div>

        <div class="form-outline mb-4">
            <input type="submit" value="Update Offer">
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}} role="button">Cancel</a>
    </form>
    <div th:replace="fragments/general_fragments.html :: formOutlineBorderScript"></div>
</div>
</body>
</html>