<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Offers</title>
    <div th:replace="fragments/general_fragments.html :: headLinks"></div>
</head>
<body>
<div th:replace="fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<h1 class="mb-3">Offers page</h1>

<div th:if="${offersViews==null or offersViews.empty}">
    <h2 class="mb-3">No offers yet!</h2>
</div>
<div th:if="${offersViews!=null and !offersViews.empty}">

    <h2 class="mb-3">Existing offers</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Offer id</th>
            <th>Tariff id</th>
            <th>Tariff name</th>
            <th>Device id</th>
            <th>Device brand</th>
            <th>Device model</th>
            <th>Device price</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offerView : ${offersViews}">
            <td th:text="${offerView.offerId}"></td>
            <td th:text="${offerView.tariffId}"></td>
            <td th:text="${offerView.tariffName}"></td>
            <td th:text="${offerView.deviceId}"></td>
            <td th:text="${offerView.deviceBrand}"></td>
            <td th:text="${offerView.deviceModel}"></td>
            <td th:text="${offerView.devicePrice}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{${pathEdit}(id=${offerView.offerId})}">Edit</a>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <form action="#" th:action="@{${pathDeleteUpdate}(id=${offerView.offerId})}" th:method="delete"
                      th:id="${offerView.offerId}">
                    <a href="javascript:{}"
                       th:onclick="|document.getElementById('${offerView.offerId}').submit(); return false;|">Delete</a>
                </form>
            </td>
        </tr>

        </tbody>
    </table>


</div>
<p sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{${pathNew}}">Add new offer</a>
</p>
</body>
</html>